# .NET Core Function App to Windows on Azure
# Build a .NET Core function app and publish artifact
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/en-us/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:

  # Working Directory
  workingDirectory: '$(System.DefaultWorkingDirectory)/'

steps:
- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
	command: 'build'
	projects: |
	  $(workingDirectory)/*.csproj
	arguments: --output $(System.DefaultWorkingDirectory)/publish_output --configuration Release

- task: ArchiveFiles@2
  displayName: 'Archive files'
  inputs:
	rootFolderOrFile: '$(System.DefaultWorkingDirectory)/publish_output'
	includeRootFolder: false
	archiveType: zip
	archiveFile: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
	replaceExistingArchive: true

- publish: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
  artifact: drop
  
- task: PublishBuildArtifacts@1
